html {
    background-color: darkgray;
}

nav {
    padding: 3px;
    border:#000000 2px solid;
	background-color: dimgray;
    height: 35px;
    display: flex
}

main {
    border:#000000 2px solid;
	background-color: dimgray;
}

footer {
    padding: 2px;
    border:#000000 2px solid;
	background-color: dimgray;
}

 table {
     border: 2px solid black;
     width: 100%;
     border-collapse: collapse;
 }

 th, td {

     border: 1px solid black;
     padding: 5px;
 }

 th {
     color: #000000;
     background-color: black;
 }

 form {
    position: relative;
    display: flex;
    margin-left: 50px;
}