html {
    background-color: darkgray;
}

nav {
    padding: 3px;
    border:#000000 2px solid;
	background-color: dimgray;
    height: 25px;
}

main {
    border:#000000 2px solid;
	background-color: dimgray;
}

footer {
    padding: 2px;
    border:#000000 2px solid;
	background-color: dimgray;
}