<html>

    <head>
        <link type="text/css" rel="stylesheet" href="../static/style.css">
    </head>

    <nav>
        {% block nav %}
            <a href="/"><button type="submit">Home</button></a>
            <a href="/database"><button type="submit">Database</button></a>
            <a href="/gt3rs"><button type="submit">GT3RS</button></a>
            <a href="/dakar"><button type="submit">Dakar</button></a>
            <a href="/gallery"><button type="submit">Gallery</button></a>

            <form method="post" action="/search">
                <input type="text" name="Search" id="searchbox">
                <input type="submit" value="Search">
            </form>
        {% endblock %}


    </nav>

    <main>
    {% block main %}
    {% endblock %}
    </main>

    <footer>
        <p>Every Porsche 911 since 1964. Douglas Lewis-Elder</p>
    </footer>

</html>