{% extends "base.html" %}

{% block main %}
    <h1> Gallery </h1>
    <title>Gallery</title>

    <img src="../static/1965_porsche_911_back_view.jpg" alt="Porsche 911 front View">
    <img src="../static/front_view_porsche_911.jpg" alt="Porsche 911 front View">
    <img src="../static/interior_view_porsche_911.jpg" alt="Porsche 911 front View">
    <img src="../static/porsche_1964.png" alt="Porsche 911 front View">

    </br>
    <h2>Note:</h2>
    <p>All of these pictures are from Car and Drivers 1965 Porsche Gallery</p>
    <a href="https://www.caranddriver.com/photos/g42623060/1965-porsche-911-by-the-numbers-gallery/"><button type="submit">Their Website</button></a>

    </br></br></br></br></br></br></br></br></br>

{% endblock %}