{% extends "base.html" %}

{% block main %}
    <h1> Home</h1>
    <title>Porsche 911s</title>

     <div class="container">
          <div class="image">
              <img src="../static/1965_porsche_911_back_view.jpg" alt="Porsche 911 Full View">
          </div>
          <div class="text">
            <h1>Every Porsche 911 Since 1964</h1>
            <a href="/database"><button type="submit">View the entire database</button></a>
          </div>
        </div>

    </br></br></br></br></br></br></br></br></br>

     <div class="container">
          <div class="image">
            <img src="../static/front_view_porsche_911.jpg" alt="Porsche 911 front View">
          </div>
          <div class="text">
            <h1>maybe a specific 911?</h1>
            <a href="/dakar"><button type="submit">The Dakars </button></a>
            <a href="/gt3rs"><button type="submit">The GT3 RS's</button></a>
          </div>
        </div>

    </br></br></br></br></br></br></br></br></br>

     <div class="container">
          <div class="image">
            <img src="../static/interior_view_porsche_911.jpg" alt="Porsche 911 interior View">
          </div>
          <div class="text">
            <h1>maybe the pictures?</h1>
            <a href="/gallery"><button type="submit">The Gallery </button></a>
          </div>
        </div>

    </br></br></br></br></br></br></br></br></br>

{% endblock %}